
.container{
    background-color: #2c2640;
    display: flex;
    flex-direction: column;
    display: block;
    margin: 5% auto;
    width: 600px;
    height: 600px;
    font-size: large;
    border: 2px solid black;
    border-radius: 25px;
    padding: 2% 2%;
}

.heading-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.name{
    display: flex;
    padding: 2% 2%;
}

#fname{
    background-color: gainsboro;
    padding: 2% 2%;
    margin-left: 3%;
    margin-right: 5%;
    border: none;
    width: 40%;
    border-bottom: 2px solid #550000;
}

#lname{
    background-color: gainsboro;
    border: none;
    border-bottom: 2px solid #550000;
    width: 40%;
    padding: 2% 2%;
}

#phone{
    background-color: gainsboro;
    border: none;
    width: 86%;
    border-bottom: 2px solid #550000;
    padding: 2% 2%;
    margin: 2% 5%;
}

#email{
    background-color: gainsboro;
    border: none;
    border-bottom: 2px solid #550000;
    width: 86%;
    padding: 2% 2%;
    margin: 2% 5%;
}

#message{
    background-color: gainsboro;
    border: none;
    border-bottom: 2px solid #550000;
    padding: 2% 2%;
    margin: 4% 5%;
    width: 86%;
}

#sub-button{
    display: block;
    margin: 5% auto;
    outline: none;
    cursor: pointer;
    padding: 2% 3%;
}

.id{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
@media only screen and (max-width: 700px){
    .container{
        width: 80vw;
        height: 80vh;
    }

    .name{
        flex-direction: column;
    }

    #fname{
        margin: 2% 0%;
    }

    #lname{
        margin: 2% 0%;
    }
}