body{
    font-family: Karla;
}

.mobile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 7%;
}

.header-class{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin: 0;
    padding-left: 6%;
    width: 80%;
}

.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.insure-icon{
    outline: none;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout:hover{
    color: white;
    background-color: #2c2640;
    cursor: pointer;
}

.logout{
    border: #000000 solid;
    font-size: medium;
    text-decoration: solid;
    background-color: #ffffff;
    padding: 10px 25px;
    outline: none;
    margin-left: 20%;
}

section{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 100px;
}